{% extends "base.html" %}
{% block title %}Assign User Roles{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Assign User Roles</h1>
    </div>

    <!-- <h2>Section title</h2> -->
    <div class="container-fluid border border-1 rounded-1 p-4">
        <form class="row">
            <div class="col-lg-5">
                <input type="text" class="form-control" id="roles" placeholder="Username">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="roles" placeholder="Roles">
            </div>
            <button type="submit" class="btn btn-primary col-lg-2">Assign Roles</button>
        </form>
    </div>

    <div class="mt-2 container-fluid border border-1 rounded-1 p-4">
        <div class="table-responsive small">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Role</th>
                        <th scope="col">Created At</th>
                        <th class="text-end" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ayon</td>
                        <td>Normal</td>
                        <td>25-11-2024</td>
                        <td class="text-end">
                            <button type="text" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}