html,
body {
  height: 100%;
}

.form-signup {
  max-width: 500px;
  padding: 1rem;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input {
  width: 230px;
  margin-bottom: 5px;
}

.form-signup select {
    width: 230px;
    padding: 1rem;
    margin-bottom: 5px;
  }